h1{
  font-size: 2.7rem;
}


body{
background-color: #0f3057;
color: #d9ecf2;
font-family: 'Chakra Petch', sans-serif;

}


.slogan{
  font-size: 1rem;
}


.username:hover {
  background-color: white;
  border-color: #d9ecf2;
  color: black;
}

.username{
  border-color: #d9ecf2;
  color: black;
  margin: 2%
}

.go{
  background-color: #d9ecf2;
  border-color: #d9ecf2;
  margin: 2%;
  color: black;
}

.caption {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
}

.thumbnail {
    position: relative;
}

@media (max-width: 1100px) {

.thumbnail{
  display: none;
}

}

.navigation{
  font-size: 1.5rem;
}

.logo-nav{
  height: 40px;
  width: 40px;
}

.logo{
  height: 80px;
  width: 80px;
}

@media (max-width: 400px){
  .caption{
   top: 0%;
  }
}


#download{
  margin-top: 80px;
}

.margin-bt{
  margin: 10px;
}
